{{> header}}

<body>
    <div id="loader-overlay"><img src="images/loader.gif" alt="Loading" /></div>
    <div class="complete-content">
        <div id="home-short-version-first">
            <div class="container full-width-container ihome-banner">
                <div class="banner col-sm-12 col-xs-12 col-md-12">
                    <ul>
                        <!-- THE BOXSLIDE EFFECT EXAMPLES  WITH LINK ON THE MAIN SLIDE EXAMPLE -->
                        <li data-transition="papercut" data-slotamount="7">
                            <!-- MAIN IMAGE -->
                            <img src="images/new-slider/s1-bg.jpg" alt="slidebg1" data-bgfit="cover"
                                data-bgposition="left top" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption lfb skewtoright imed-sl1" data-x="220" data-y="-50" data-hoffset="0"
                                data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-endspeed="400"
                                data-endeasing="Power1.easeIn"><img src="img/slider12.gif" alt=""
                                    class="img-responsive">
                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption lft skewtoright imed-sl1" data-x="-50" data-y="50" data-hoffset="83"
                                data-speed="1200" data-start="1300" data-easing="Power4.easeOut" data-endspeed="400"
                                data-endeasing="Power1.easeIn"><img src="img/slider11.gif" alt=""
                                    class="img-responsive">
                            </div>
                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption bluebg-t1 sfr skewtoright imed-sl1" data-x="right" data-y="115"
                                data-hoffset="-60" data-speed="1000" data-start="2400" data-easing="Back.easeOut"
                                data-endspeed="400" data-endeasing="Power1.easeIn"> "Quality will always shine<br>
                                through."
                            </div>

                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption bluebg-t2 sfr skewtoright imed-sl1" data-x="right" data-y="222"
                                data-hoffset="-10" data-speed="1000" data-start="2900" data-easing="Back.easeOut"
                                data-endspeed="400" data-endeasing="Power1.easeIn">Experience the real life situations
                            </div>

                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption bluebg-t3 sfr skewtoright imed-sl1" data-x="700" data-y="280"
                                data-hoffset="-60" data-speed="1000" data-start="3400" data-easing="Back.easeOut"
                                data-endspeed="400" data-endeasing="Power1.easeIn">We Provide the best facility for
                                customer & Fully Managed SEO Services.</div>
                        </li>


                        <li data-transition="papercut" data-slotamount="7">

                            <!-- MAIN IMAGE -->
                            <img src="images/new-slider/s2-bg.jpg" alt="slidebg1" data-bgfit="cover"
                                data-bgposition="left top" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption lfb stl imed-sl1" data-x="left" data-y="bottom" data-hoffset="-50"
                                data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-endspeed="400"
                                data-endeasing="Power1.easeIn"><img src="images/new-slider/s2-img1.png" alt=""
                                    class="img-responsive">
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption skewfromright stl imed-sl1" data-x="left" data-y="65"
                                data-hoffset="-20" data-speed="1500" data-start="1300" data-easing="Power4.easeOut"
                                data-endspeed="400" data-endeasing="Power1.easeIn"><img
                                    src="images/new-slider/s2-img2.png" alt="" class="img-responsive">
                            </div>


                           
                            <div class="tp-caption lft stt imed-sl1" data-x="left" data-y="68" data-hoffset="268"
                                data-speed="1400" data-start="2800" data-easing="Power4.easeOut" data-endspeed="400"
                                data-endeasing="Power1.easeIn"><img src="img/images (67).png" alt=""
                                    class="img-responsive">
                            </div>
                           

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption lft stt imed-sl1" data-x="left" data-y="177" data-hoffset="370"
                                data-speed="1400" data-start="3700" data-easing="Power4.easeOut" data-endspeed="400"
                                data-endeasing="Power1.easeIn"><img src="img/traing/images (10).png" alt=""
                                    class="img-responsive">
                            </div>

                          

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption lft stt imed-sl1" data-x="left" data-y="158" data-hoffset="123"
                                data-speed="1400" data-start="5800" data-easing="Power4.easeOut" data-endspeed="400"
                                data-endeasing="Power1.easeIn"><img src="img/images (6).png" alt=""
                                    class="img-responsive">
                            </div>


                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption whitebg-t1 sfr skewtoright imed-sl1" data-x="right" data-y="115"
                                data-hoffset="-60" data-speed="1500" data-start="6500" data-easing="Back.easeOut"
                                data-endspeed="400" data-endeasing="Power1.easeIn">Fully Managed SEO Services <br>in
                                this organisation
                            </div>


                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption whitebg-t2 sfr skewtoright imed-sl1" data-x="right" data-y="222"
                                data-hoffset="-10" data-speed="1500" data-start="6800" data-easing="Back.easeOut"
                                data-endspeed="400" data-endeasing="Power1.easeIn">Experience the real life situations
                            </div>


                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption whitebg-t3 sfr skewtoright imed-sl1" data-x="right" data-y="280"
                                data-hoffset="-60" data-speed="1500" data-start="7100" data-easing="Back.easeOut"
                                data-endspeed="400" data-endeasing="Power1.easeIn">We are Passionate About Helping Our
                                Clients <br> Achieve Their Goals & Grow Their Brands.</div>


                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption s1-but customin skewtoright imed-sl1" data-x="center" data-y="365"
                                data-hoffset="205" data-speed="1500"
                                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-start="7400" data-easing="Back.easeOut" data-endspeed="400"
                                data-endeasing="Power1.easeIn">
                                <!--<a href="#">Purchase Now</a>-->
                            </div>




                        </li>


                        <li data-transition="papercut" data-slotamount="7">

                            <!-- MAIN IMAGE -->
                            <img src="images/new-slider/s3-bg.jpg" alt="slidebg1" data-bgfit="cover"
                                data-bgposition="left top" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption sfb skewtoright imed-sl1 rs-parallaxlevel-1" data-x="left"
                                data-y="30" data-hoffset="-20" data-speed="1000" data-start="1000"
                                data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn"><img
                                    src="img/services-retina.png" alt="" class="img-responsive">
                            </div>

                          
                            <div class="tp-caption lft skewtoright imed-sl1 rs-parallaxlevel-3" data-x="455"
                                data-y="164" data-hoffset="185" data-speed="1400" data-start="2000"
                                data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn"><img
                                    src="img/woman-ceo.png" alt="" class="img-responsive">
                            </div>


                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption bluebg-t1 sfr skewtoright imed-sl1" data-x="right" data-y="115"
                                data-hoffset="-60" data-speed="1000" data-start="2400" data-easing="Back.easeOut"
                                data-endspeed="400" data-endeasing="Power1.easeIn">Customize each & every<br>page easily
                                !
                            </div>


                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption bluebg-t2 sfr skewtoright imed-sl1" data-x="right" data-y="222"
                                data-hoffset="-10" data-speed="1000" data-start="2900" data-easing="Back.easeOut"
                                data-endspeed="400" data-endeasing="Power1.easeIn">Experience the real life situations
                            </div>


                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption bluebg-t3 sfr skewtoright imed-sl1" data-x="right" data-y="280"
                                data-hoffset="-60" data-speed="1000" data-start="3400" data-easing="Back.easeOut"
                                data-endspeed="400" data-endeasing="Power1.easeIn">We work on advertising for internal
                                and external communications <br> and always challenge ideas and produce original and
                                <br> creative work that helps your brand stand out.</div>


                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption s1-but customin skewtoright imed-sl1" data-x="center" data-y="365"
                                data-hoffset="205" data-speed="1000"
                                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-start="3900" data-easing="Back.easeOut" data-endspeed="400"
                                data-endeasing="Power1.easeIn">
                                <!--<a href="#">Purchase Now</a>-->
                            </div>




                        </li>


                        <li data-transition="papercut" data-slotamount="7">

                            <!-- MAIN IMAGE -->
                            <img src="images/new-slider/s3-bg.jpg" alt="slidebg1" data-bgfit="cover"
                                data-bgposition="left top" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption lfb skewtoright imed-sl1" data-x="0" data-y="50" data-hoffset="-30"
                                data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-endspeed="400"
                                data-endeasing="Power1.easeIn"><img src="img/slide-2-2.png" alt=""
                                    class="img-responsive">
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption lfb skewtoright imed-sl1" data-x="180" data-y="13" data-hoffset="274"
                                data-speed="1500" data-start="1400" data-easing="Power4.easeOut" data-endspeed="400"
                                data-endeasing="Power1.easeIn"><img src="img/traing/ppc51.gif" width="200" alt=""
                                    class="img-responsive">
                            </div>

                          

                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption bluebg-t1 sfr skewtoright imed-sl1" data-x="right" data-y="115"
                                data-hoffset="-40" data-speed="1000" data-start="4800" data-easing="Back.easeOut"
                                data-endspeed="400" data-endeasing="Power1.easeIn">Customize each & every<br>page easily
                                !
                            </div>


                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption bluebg-t2 sfr skewtoright imed-sl1" data-x="right" data-y="222"
                                data-hoffset="10" data-speed="1000" data-start="5200" data-easing="Back.easeOut"
                                data-endspeed="400" data-endeasing="Power1.easeIn">Experience the real life situations
                            </div>


                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption bluebg-t3 sfr skewtoright imed-sl1" data-x="right" data-y="280"
                                data-hoffset="-40" data-speed="1000" data-start="5500" data-easing="Back.easeOut"
                                data-endspeed="400" data-endeasing="Power1.easeIn"> Great design is about more than
                                style, it's about being your sell</div>


                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption s1-but customin skewtoright imed-sl1" data-x="center" data-y="365"
                                data-hoffset="225" data-speed="1000"
                                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-start="5700" data-easing="Back.easeOut" data-endspeed="400"
                                data-endeasing="Power1.easeIn">
                                <!--<a href="#">Purchase Now</a>-->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!--About-us top-content-->
            <div class="container">
                <div class="col-md-12 col-xs-12 col-sm-12 pull-left full-content wow fadeInLeft animated"
                    data-wow-delay="0.3s" data-wow-offset="130">
                    <div class="full-content-title top-padding">Welcome to the Impel Technology</div>
                    <p>Impel Technology is an ideal partner for the development of IT solutions. The mission of Impel
                        Technology is to utilize cutting edge technology to offer reliable and efficient business
                        application solutions, and consulting for the communications, corporate, financial and
                        securities industry.</p>
                </div>



                <div class="mid-widgets-serices col-xs-12 col-sm-12 col-md-12 col-lg-12 no-pad pull-left services-page">

                    <!--service box-->
                    <div class="col-sm-5 col-xs-12 col-md-3 col-lg-3 service-box service-box-section no-pad wow fadeInLeft animated"
                        data-wow-delay="1s" data-wow-offset="150">
                        <div class="service-title">
                            <div class="service-icon-container service-icon-container-section rot-y"><i
                                    class="icon-heart panel-icon"></i></div>Web-S/W Development
                        </div>
                        <hr class="hr-line" />
                        <p>Software development is the computer programming, documenting, testing, and bug fixing
                            involved in creating and maintaining applications and frameworks involved in a software
                            release life cycle and resulting in a software product...</p>

                    </div>

                    <!--service box-->
                    <div class="col-sm-5 col-xs-12 col-md-3 col-lg-3 service-box service-box-section no-pad wow fadeInLeft animated"
                        data-wow-delay="1.3s" data-wow-offset="150">
                        <div class="service-title">
                            <div class="service-icon-container service-icon-container-section rot-y"><i
                                    class="icon-eye-open panel-icon"></i></div>Desktop Application
                        </div>
                        <hr class="hr-line" />
                        <p>Application software is a set of one or more programs designed to carry out operations for a
                            specific application. Application software cannot run on itself but is dependent on system
                            software to execute...</p>

                    </div>

                    <!--service box-->
                    <div class="col-sm-5 col-xs-12 col-md-3 col-lg-3 service-box service-box-section no-pad wow fadeInLeft animated"
                        data-wow-delay="1.6s" data-wow-offset="150">
                        <div class="service-title">
                            <div class="service-icon-container service-icon-container-section rot-y"><i
                                    class="icon-female panel-icon"></i></div>Mobile Application
                        </div>
                        <hr class="hr-line" />
                        <p>Mobile apps were originally offered for general productivity and information retrieval,
                            including email, calendar, contacts, stock market and weather information...</p>

                    </div>

                    <!--service box-->
                    <div class="col-sm-5 col-xs-12 col-md-3 col-lg-3 service-box service-box-section no-pad wow fadeInLeft animated"
                        data-wow-delay="1.9s" data-wow-offset="150">
                        <div class="service-title">
                            <div class="service-icon-container service-icon-container-section rot-y"><i
                                    class="icon-eye-open panel-icon"></i></div>Industrial Training
                        </div>
                        <hr class="hr-line" />
                        <p>The best PHP training & .Net training in indore does provide certification courses in Impel
                            Technology. Projects are made by students with the help of guidance of experience person...
                        </p>
                    </div>


                </div> <!--Mid Services End-->

            </div><!--container-->


            <!--Still Not Convinced? start-->
            <div class="services-content-wrap pull-left">
                <div class="container">

                    <div class="row">

                        <div class="col-md-12 col-xs-12 col-sm-12 pull-left full-content wow fadeInUp animated"
                            data-wow-delay="0.5s" data-wow-offset="200">
                            <div class="full-content-title top-padding">We provide Clean & Powerful Code</div>
                            <p> we believe our responsibilities extend beyond business. That is why we established the
                                Impel Technology – to provide assistance to some of the more socially and economically
                                depressed sectors of the communities in which we work. And that is why we behave
                                ethically and honestly in all our interactions – with our clients, our partners and our
                                employees.</p>
                        </div>

                        <div class="features-list col-xs-12 col-sm-4 col-md-3 col-lg-3 wow fadeInLeft animated"
                            data-wow-delay="1s" data-wow-offset="200">
                            <div class="features-list-title">Our Features</div>
                            <ul>
                                <li><i class="icon-ambulance feature-icons"></i>Web Designing</li>
                                <li><i class="icon-heart feature-icons"></i>Web Development</li>
                                <li><i class="icon-stethoscope feature-icons"></i>Data Mining</li>
                                <li><i class="icon-medkit feature-icons"></i>E-commerce</li>
                                <li><i class="icon-food feature-icons"></i>Desktop Application</li>
                                <li><i class="icon-hospital feature-icons"></i>Software Development</li>
                                <li><i class="icon-medkit feature-icons"></i>Mobile Apps</li>
                                <li><i class="icon-ambulance feature-icons"></i>SEO(Search Engine Optimization)</li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6 content-tabs-wrap wow fadeInUp animated"
                            data-wow-delay="1.7s" data-wow-offset="200">
                            <div class="content-tabs">

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab-home" data-toggle="tab">Technology</a></li>
                                    <li><a href="#tab-profile" data-toggle="tab">Software</a></li>
                                    <li><a href="#tab-messages" data-toggle="tab">FAQs</a></li>
                                    <li><a href="#tab-settings" data-toggle="tab">Responsibility</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="tab-home">
                                        <img alt="" src="img/images (12).jpg" class="img-responsive tab-img" />
                                        <p>Information technology (IT) is the application of computers and
                                            telecommunications equipment to store, retrieve, transmit and manipulate
                                            data,[1] often in the context of a business or other enterprise.</p>
                                        <p>The term is commonly used as a synonym for computers and computer networks,
                                            but it also encompasses other information distribution technologies such as
                                            television and telephones. Several industries are associated with
                                            information technology, including computer hardware, software, electronics,
                                            semiconductors, internet, telecom equipment, e-commerce and computer
                                            services. </p>

                                    </div>
                                    <div class="tab-pane fade" id="tab-profile">
                                        <img alt="" src="img/images (1).jpg" class="img-responsive tab-img" />
                                        <p>software is any set of machine-readable instructions that directs a
                                            computer's processor to perform specific operations. Computer software
                                            contrasts with computer hardware, which is the physical component of
                                            computers. Computer hardware and software require each other and neither can
                                            be realistically used without the other. </p>
                                        <p> Using a musical analogy, hardware is like a musical instrument and software
                                            is like the notes played on that instrument. </p>
                                        <p>Computer software includes computer programs, libraries and their associated
                                            documentation. The word software is also sometimes used in a more narrow
                                            sense, meaning application software only.</p>
                                    </div>
                                    <div class="tab-pane fade" id="tab-messages">
                                        <img alt="" src="img/faq.jpg" class="img-responsive tab-img" />
                                        <p>"FAQ" referred to the Frequently Asked Question itself, and the compilation
                                            of questions and answers was known as a "FAQ list" or some similar
                                            expression. The term became more frequently used to refer to the list, and a
                                            text consisting of questions and their answers is often called a FAQ
                                            regardless of whether the questions are actually frequently asked, if they
                                            are asked at all, or if there is even any way of asking questions.</p>
                                        <p>Now you want some detail about FAQ. Please you may go to the FAQ(Frequently
                                            Asked Question) page</p>

                                    </div>
                                    <div class="tab-pane fade" id="tab-settings">
                                        <img alt="" src="img/responsibility.jpg" class="img-responsive tab-img" />
                                        <p>We all have a shared responsibility to do business in ways that respect,
                                            protect and benefit our customers, our employees, our communities and our
                                            environment. This responsibility informs everything we do, both as a company
                                            and as individuals. Our commitments as a responsible business are guided by
                                            our Trust Principles and are core to our purpose and values, our policies
                                            and flagship programs are focused on the following areas:</p>
                                        <p>2013 Corporate Responsibility Report
                                            (Learn more about our performance related to responsible business practices
                                            in our annual report)


                                            Citizenship
                                            (Supporting the communities in which we live and work to create a better
                                            future for all)

                                            Marketplace
                                            (Delivering intelligent information for long term value)

                                            Workplace
                                            (Building a highly skilled, diverse workforce for sustained success)</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="appointment-form col-xs-12 col-md-3 no-pad wow fadeInRight animated"
                            data-wow-delay="1s" data-wow-offset="200">
                            <div class="appointment-form-title"><i
                                    class="icon-hospital2 appointment-form-icon"></i>Enquiry Form</div>
                            <form class="appt-form" method="POST" action="#">
                               
                                <input type="text" class="appt-form-txt" name="first_name" id="first_name"
                                    placeholder="First Name(required)" />
                                <input type="text" class="appt-form-txt" name="last_name" id="last_name"
                                    placeholder="Last Name" />
                                <input type="text" class="appt-form-txt" name="phone" id="phone"
                                    placeholder="Phone(required)" />
                                <input type="email" class="appt-form-txt" name="email" id="email"
                                    placeholder="Email(required)" />
                                <input type="date" class="appt-form-txt" name="date" id="date" />
                                <input type="text" class="appt-form-txt" placeholder="message" name="message"
                                    id="message" />
                                <section class="color-7" id="btn-click">
                                    <button type="submit" class="icon-mail btn2-st2 btn-7 btn-7b">Submit</button>
                                </section>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Still Not Convinced? start-->
            <!--Purchase Box-->
            <div class="purchase-wrap-blue ipurchase-wrap purchase-wrap-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 pull-right">
                            <div class="purchase-strip-blue pull-right col-sm-12 col-md-12 col-xs-12 pull-left notViewed wow fadeInUp"
                                data-wow-delay="0.5s" data-wow-offset="150">
                                <div class="purchase-strip-text">If You want to make a project in our organization then
                                    !</div>
                                <div class="color-4">
                                    <p class="ipurchase-paragraph">
                                        <a href="empolyment.php"><button
                                                class=" btn  btn-4a notViewed wow fadeInUp animated purshase-theme-btn"
                                                data-wow-delay="0.5s" data-wow-offset="150">Apply Now</button></a>
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div> <!--home-page-short-version-->
    </div> <!--complete content-->
</div>
  
{{> footer}}
    




