{{>header}}

<section class="complete-content content-footer-space">


    <div class="bread-crumb-wrap ibc-wrap-3">
        <div class="container">
            <!--Title / Beadcrumb-->
            <div class="inner-page-title-wrap col-xs-12 col-md-12 col-sm-12">
                <div class="bread-heading">
                    <h1>Services</h1>
                </div>
                <div class="bread-crumb pull-right">
                    <ul>
                        <li><a href="">Services</a></li>
                        <!--<li><a href="about-us-1.html">Flip Box</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container iflip">
        <div class="row">

            <div class="col-md-12 col-xs-12 col-sm-12 pull-left subtitle ibg-transparent"></div>

            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">

                <div class="flip-box-wrap">
                    <div class="flip-box auto horizontal_flip_left" data-animation="" data-animation-delay="03">
                        <div class="ifb-flip-box">

                            <div class="ifb-face ifb-front">
                                <div class="flip-box-icon">
                                    <div class="aio-icon none " data-animation="" data-animation-delay="03">
                                        <i class="flip-icons icon-heart"></i>
                                    </div>
                                </div>

                                <h3 class="flip-box-head-txt">Web Application</h3>
                                <p>We have experience of developing varied web applications which involves </p>
                            </div><!-- END .front -->

                            <div class="ifb-face ifb-back flip-backface">
                                <h3>Web Application</h3>
                                <p>RIA (Rich Internet Applications), complex web applications, SaaS (Software as a
                                    Service) applications, intranets, shopping carts E-Commerce, and API development.
                                </p>
                                <!--<div class="flip_link"><a href="#" class="flip-read-more">Read More!</a></div>-->
                            </div><!-- END .back -->

                        </div> <!-- ifb-flip-box -->
                    </div> <!-- flip-box -->
                </div>
            </div>


            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">

                <div class="flip-box-wrap">
                    <div class="flip-box auto horizontal_flip_left" data-animation="" data-animation-delay="03">
                        <div class="ifb-flip-box">

                            <div class="ifb-face ifb-front">
                                <div class="flip-box-icon">
                                    <div class="aio-icon none " data-animation="" data-animation-delay="03">
                                        <i class="flip-icons icon-ambulance"></i>
                                    </div>
                                </div>

                                <h3 class="flip-box-head-txt">Web Designing</h3>
                                <p>Attractive and user friendly sites convert leads into sales. It is face of your
                                    online business. </p>
                            </div><!-- END .front -->

                            <div class="ifb-face ifb-back flip-backface">
                                <h3>Web Designing</h3>
                                <p>Well-conceived and planned web sites are an integral part of an organization's
                                    communication needs. Offering an attractive, intuitive interface with a logical and
                                    easy to use navigation layout will make the differences.</p>
                                <!--<div class="flip_link"><a href="#" class="flip-read-more">Read More!</a></div>-->
                            </div><!-- END .back -->

                        </div> <!-- ifb-flip-box -->
                    </div> <!-- flip-box -->
                </div>
            </div>




            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">

                <div class="flip-box-wrap">
                    <div class="flip-box auto horizontal_flip_left" data-animation="" data-animation-delay="03">
                        <div class="ifb-flip-box">

                            <div class="ifb-face ifb-front">
                                <div class="flip-box-icon">
                                    <div class="aio-icon none " data-animation="" data-animation-delay="03">
                                        <i class="flip-icons icon-stethoscope"></i>
                                    </div>
                                </div>

                                <h3 class="flip-box-head-txt">E-Commerce</h3>
                                <p>IT (formerly Impel Technologies) can help your businesses realize results from </p>
                            </div><!-- END .front -->

                            <div class="ifb-face ifb-back flip-backface">
                                <h3>E-Commerce</h3>
                                <p>Their e-commerce initiatives by building the framework, systems, tools, content,
                                    bespoke solutions or can customize existing open source solutions.</p>
                                <!--<div class="flip_link"><a href="#" class="flip-read-more">Read More!</a></div>-->
                            </div><!-- END .back -->

                        </div> <!-- ifb-flip-box -->
                    </div> <!-- flip-box -->
                </div>
            </div>




            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">

                <div class="flip-box-wrap">
                    <div class="flip-box auto horizontal_flip_left" data-animation="" data-animation-delay="03">
                        <div class="ifb-flip-box">

                            <div class="ifb-face ifb-front">
                                <div class="flip-box-icon">
                                    <div class="aio-icon none " data-animation="" data-animation-delay="03">
                                        <i class="flip-icons icon-female"></i>
                                    </div>
                                </div>

                                <h3 class="flip-box-head-txt">SEO</h3>
                                <p>Search Engine Optimization is a great way to kick-off your Website marketing
                                    strategies,</p>
                            </div><!-- END .front -->

                            <div class="ifb-face ifb-back flip-backface">
                                <h3>SEO</h3>
                                <p> SEO are the important source to bring visitors to your website. Top 10 Search Engine
                                    Rankings are guaranteed for your website at an affordable SEO prices....</p>
                                <!--<div class="flip_link"><a href="#" class="flip-read-more">Read More!</a></div>-->
                            </div><!-- END .back -->

                        </div> <!-- ifb-flip-box -->
                    </div> <!-- flip-box -->
                </div>
            </div>





        </div>


        <div class="row">

            <div class="col-md-12 col-xs-12 col-sm-12 pull-left subtitle ibg-transparent"></div>

            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">

                <div class="flip-box-wrap wow flipInY" data-wow-delay="0.5s" data-wow-offset="10">
                    <div class="flip-box auto horizontal_flip_left" data-animation="" data-animation-delay="03">
                        <div class="ifb-flip-box">

                            <div class="ifb-face ifb-front">
                                <div class="flip-box-icon">
                                    <div class="aio-icon none " data-animation="" data-animation-delay="03">
                                        <i class="flip-icons icon-heart"></i>
                                    </div>
                                </div>

                                <h3 class="flip-box-head-txt">Domain Name</h3>
                                <p>Any name registered in the DNS is a domain name. A domain name represents an Internet
                                    Protocol (IP) resource, </p>
                            </div><!-- END .front -->

                            <div class="ifb-face ifb-back flip-backface">
                                <h3>Domain Name</h3>
                                <p>A domain name is an identification string that defines a realm of administrative
                                    autonomy, authority or control within the Internet. Domain names are formed by the
                                    rules and procedures of the Domain Name System (DNS).</p>
                                <!--<div class="flip_link"><a href="#" class="flip-read-more">Read More!</a></div>-->
                            </div><!-- END .back -->

                        </div> <!-- ifb-flip-box -->
                    </div> <!-- flip-box -->
                </div>
            </div>


            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">

                <div class="flip-box-wrap wow flipInY" data-wow-delay="0.8s" data-wow-offset="10">
                    <div class="flip-box auto horizontal_flip_left" data-animation="" data-animation-delay="03">
                        <div class="ifb-flip-box">

                            <div class="ifb-face ifb-front">
                                <div class="flip-box-icon">
                                    <div class="aio-icon none " data-animation="" data-animation-delay="03">
                                        <i class="flip-icons icon-ambulance"></i>
                                    </div>
                                </div>

                                <h3 class="flip-box-head-txt">Web Hosting</h3>
                                <p>Impel Technologies offers web hosting services in India. our web hosting </p>
                            </div><!-- END .front -->

                            <div class="ifb-face ifb-back flip-backface">
                                <h3>Web Hosting</h3>
                                <p>Web hosting for company based in Lucknow, dedicated web hosting for companies in
                                    India, Linux web hosting in India, windows web hosting in India, Linux web hosting
                                    in Lucknow.</p>
                                <!--<div class="flip_link"><a href="#" class="flip-read-more">Read More!</a></div>-->
                            </div><!-- END .back -->

                        </div> <!-- ifb-flip-box -->
                    </div> <!-- flip-box -->
                </div>
            </div>




            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">

                <div class="flip-box-wrap wow flipInY" data-wow-delay="1.1s" data-wow-offset="10">
                    <div class="flip-box auto horizontal_flip_left" data-animation="" data-animation-delay="03">
                        <div class="ifb-flip-box">

                            <div class="ifb-face ifb-front">
                                <div class="flip-box-icon">
                                    <div class="aio-icon none " data-animation="" data-animation-delay="03">
                                        <i class="flip-icons icon-stethoscope"></i>
                                    </div>
                                </div>

                                <h3 class="flip-box-head-txt">Website Redesign</h3>
                                <p>Finding a professional web designing company is not less than a tiresome job. </p>
                            </div><!-- END .front -->

                            <div class="ifb-face ifb-back flip-backface">
                                <h3>Website Redesign</h3>
                                <p>This statement is true, since a professional and skilful web Design Company will not
                                    leave any flaw in the designing and development of your website.</p>
                                <!--<div class="flip_link"><a href="#" class="flip-read-more">Read More!</a></div>-->
                            </div><!-- END .back -->

                        </div> <!-- ifb-flip-box -->
                    </div> <!-- flip-box -->
                </div>
            </div>




            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">

                <div class="flip-box-wrap wow flipInY" data-wow-delay="1.4s" data-wow-offset="10">
                    <div class="flip-box auto horizontal_flip_left" data-animation="" data-animation-delay="03">
                        <div class="ifb-flip-box">

                            <div class="ifb-face ifb-front">
                                <div class="flip-box-icon">
                                    <div class="aio-icon none " data-animation="" data-animation-delay="03">
                                        <i class="flip-icons icon-female"></i>
                                    </div>
                                </div>

                                <h3 class="flip-box-head-txt">Mobile Application Development</h3>
                                <p>We have experience in developing products that support mobile commerce and .</p>
                            </div><!-- END .front -->

                            <div class="ifb-face ifb-back flip-backface">
                                <h3>Mobile Application Development</h3>
                                <p>Services using latest platforms & technologies. Our team is well versed with Symbian,
                                    Android, J2ME, .NET compact framework, MITR and iPhone development platforms.</p>
                                <!--<div class="flip_link"><a href="#" class="flip-read-more">Read More!</a></div>-->
                            </div><!-- END .back -->

                        </div> <!-- ifb-flip-box -->
                    </div> <!-- flip-box -->
                </div>
            </div>





        </div>





        <div class="row">

            <div class="col-md-12 col-xs-12 col-sm-12 pull-left subtitle ibg-transparent"></div>

            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">

                <div class="flip-box-wrap wow flipInY" data-wow-delay="0.5s" data-wow-offset="10">
                    <div class="flip-box auto horizontal_flip_left" data-animation="" data-animation-delay="03">
                        <div class="ifb-flip-box">

                            <div class="ifb-face ifb-front">
                                <div class="flip-box-icon">
                                    <div class="aio-icon none " data-animation="" data-animation-delay="03">
                                        <i class="flip-icons icon-heart"></i>
                                    </div>
                                </div>

                                <h3 class="flip-box-head-txt">Logo Designing</h3>
                                <p>Whether it is your business card, letterhead or a brochure, </p>
                            </div><!-- END .front -->

                            <div class="ifb-face ifb-back flip-backface">
                                <h3>Logo Design</h3>
                                <p>The first thing that gets noticed is your logo. A logo stays with a business for a
                                    long time. It does not (and should not) get changed often due to rebranding costs,
                                </p>
                                <!--<div class="flip_link"><a href="#" class="flip-read-more">Read More!</a></div>-->
                            </div><!-- END .back -->

                        </div> <!-- ifb-flip-box -->
                    </div> <!-- flip-box -->
                </div>
            </div>


            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">

                <div class="flip-box-wrap wow flipInY" data-wow-delay="0.8s" data-wow-offset="10">
                    <div class="flip-box auto horizontal_flip_left" data-animation="" data-animation-delay="03">
                        <div class="ifb-flip-box">

                            <div class="ifb-face ifb-front">
                                <div class="flip-box-icon">
                                    <div class="aio-icon none " data-animation="" data-animation-delay="03">
                                        <i class="flip-icons icon-ambulance"></i>
                                    </div>
                                </div>

                                <h3 class="flip-box-head-txt">WhatsApp</h3>
                                <p>WhatsApp calls are obviously not free, unless you are using someone else’s WiFi. </p>
                            </div><!-- END .front -->

                            <div class="ifb-face ifb-back flip-backface">
                                <h3>WhatsApp</h3>
                                <p>Both parties in a call needs to spend data and it seems that the caller needs to
                                    spend more. Also, the present quality of WhatsApp calls is simply not something you
                                    can live with.</p>
                                <!--<div class="flip_link"><a href="#" class="flip-read-more">Read More!</a></div>-->
                            </div><!-- END .back -->

                        </div> <!-- ifb-flip-box -->
                    </div> <!-- flip-box -->
                </div>
            </div>




            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">

                <div class="flip-box-wrap wow flipInY" data-wow-delay="1.1s" data-wow-offset="10">
                    <div class="flip-box auto horizontal_flip_left" data-animation="" data-animation-delay="03">
                        <div class="ifb-flip-box">

                            <div class="ifb-face ifb-front">
                                <div class="flip-box-icon">
                                    <div class="aio-icon none " data-animation="" data-animation-delay="03">
                                        <i class="flip-icons icon-stethoscope"></i>
                                    </div>
                                </div>

                                <h3 class="flip-box-head-txt">Bulk Email</h3>
                                <p> bulk email service provider that your business can use to send bulk emails, email
                                    campaigns and newsletters. </p>
                            </div><!-- END .front -->

                            <div class="ifb-face ifb-back flip-backface">
                                <h3>Bulk Email</h3>
                                <p> Customers across India use our bulk email server to blast email campaigns. We have
                                    been providing bulk email service in India since 2008, our experience in delivering
                                    bulk mails has made us a best bulk email provider in India.</p>
                                <!--<div class="flip_link"><a href="#" class="flip-read-more">Read More!</a></div>-->
                            </div><!-- END .back -->

                        </div> <!-- ifb-flip-box -->
                    </div> <!-- flip-box -->
                </div>
            </div>




            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">

                <div class="flip-box-wrap wow flipInY" data-wow-delay="1.4s" data-wow-offset="10">
                    <div class="flip-box auto horizontal_flip_left" data-animation="" data-animation-delay="03">
                        <div class="ifb-flip-box">

                            <div class="ifb-face ifb-front">
                                <div class="flip-box-icon">
                                    <div class="aio-icon none " data-animation="" data-animation-delay="03">
                                        <i class="flip-icons icon-female"></i>
                                    </div>
                                </div>

                                <h3 class="flip-box-head-txt">Bulk Message</h3>
                                <p>Bulk Messaging is the dissemination of large numbers of SMS messages for delivery to
                                    mobile phone terminals. </p>
                            </div><!-- END .front -->

                            <div class="ifb-face ifb-back flip-backface">
                                <h3>Bulk Message</h3>
                                <p> It is used by media companies, enterprises, banks (for marketing and fraud
                                    control)[1] and consumer brands for a variety of purposes including entertainment,
                                    enterprise and mobile marketing.</p>
                                <!--<div class="flip_link"><a href="#" class="flip-read-more">Read More!</a></div>-->
                            </div><!-- END .back -->

                        </div> <!-- ifb-flip-box -->
                    </div> <!-- flip-box -->
                </div>
            </div>





        </div>

    </div>


    <!--Footer Start-->

</section>

{{>footer}}