<div class="complete-footer">
        <footer id="footer">

            <div class="container">
                <div class="row">
                    <!--Foot widget-->
                    <div class="col-xs-12 col-sm-6 col-md-3 foot-widget">
                        <div class="foot-widget-title">Address</div>
                        <br />
                        <br />
                        <address class="foot-address">
                            <div class="col-xs-12 no-pad"><i class="icon-globe address-icons"></i>Impel Technologies
                                <br />202-B Kanchan Sagar Apartment <br />Near Industry House Indore (MP)</div>
                            <div class="col-xs-12 no-pad"><i class="icon-phone2 address-icons"></i>+0731-4266890 </div>
                            <div class="col-xs-12 no-pad"><i class="icon-file address-icons"></i>+91 9098 57 21 22</div>
                            <div class="col-xs-12 no-pad"><i
                                    class="icon-mail address-icons"></i>info@impeltechnologies.com</div>
                        </address>
                    </div>

                    <!--Foot widget-->
                    <div class="col-xs-12 col-sm-6 col-md-3 recent-post-foot foot-widget">
                        <div class="foot-widget-title">Our Feature</div>
                        <ul>
                            <li><a href="#">SEO (Search Engine Optimization)<br /><span class="event-date">3 days
                                        ago</span></a></li>
                            <li><a href="#">SEM (Search Engine Marketing)<br /><span class="event-date">5 days
                                        ago</span></a></li>
                            <li><a href="#">Dedicated Account Manager <br /><span class="event-date">7 days
                                        ago</span></a></li>
                        </ul>
                    </div>

                    <!--Foot widget-->
                    <div class="col-xs-12 col-sm-6 col-md-3 recent-tweet-foot foot-widget">
                        <div class="foot-widget-title">Our Feature</div>

                        <span>

                            <a style="color: white;" href="services"> > Social Media Optimization </a> <br />
                            <a style="color: white;" href="services"> > Web Development </a> <br />
                            <a style="color: white;" href="services"> > Web Application </a> <br />
                            <a style="color: white;" href="services"> > Mobile Application </a> <br />
                            <a style="color: white;" href="services"> > Business App Development </a> <br />
                            <a style="color: white;" href="services"> > Website Maintenance </a> <br />
                            <a style="color: white;" href="services"> > Logo Design </a> <br />
                            <a style="color: white;" href="services"> > Web Hosting </a>
                        </span>
                    </div>

                    <!--Foot widget-->
                    <div class="col-xs-12 col-sm-6 col-md-3 foot-widget">
                        <div class="foot-widget-title">Testimonial</div>
                        <p>"Strength is life, Weakness is Death"</p>
                        <!--<div class="news-subscribe"><input type="text" class="news-tb" placeholder="Email Address" /><button class="news-button">Subscribe</button></div>-->
                        <div class="foot-widget-title">social media</div>
                        <div class="social-wrap">
                            <ul>
                                <li><a target="blank"
                                        href="https://www.facebook.com/pages/Impel-Technology/921307197909888"><i
                                            class="icon-facebook foot-social-icon" id="face-foot" data-toggle="tooltip"
                                            data-placement="bottom" title="Facebook"></i></a></li>
                                <li><a target="blank" href="https://twitter.com/Impeltechnologi"><i
                                            class="icon-social-twitter foot-social-icon" id="tweet-foot"
                                            data-toggle="tooltip" data-placement="bottom" title="Twitter"></i></a></li>
                                <li><a href="#"><i class="icon-google-plus foot-social-icon" id="gplus-foot"
                                            data-toggle="tooltip" data-placement="bottom" title="Google+"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin foot-social-icon" id="link-foot"
                                            data-toggle="tooltip" data-placement="bottom" title="Linked in"></i></a>
                                </li>
                                <li><a href="#"><i class="icon-rss foot-social-icon" id="rss-foot" data-toggle="tooltip"
                                            data-placement="bottom" title="RSS"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </footer>

        <div class="bottom-footer">
            <div class="container">

                <div class="row">
                    <!--Foot widget-->
                    <div class="col-xs-12 col-sm-12 col-md-12 foot-widget-bottom">
                        <p class="col-xs-12 col-md-5 no-pad">&copy; 2015 Impel technology. All Rights Reserved . </p>
                        <ul class="foot-menu col-xs-12 col-md-7 no-pad">
                            <li><a href="about">About</a></li>
                            <li><a href="gallery">Gallery</a></li>
                            <li><a href="services">Services</a></li>
                            <li><a href="web_app">Features</a></li>
                            <li><a href="empolyment">Career</a></li>
                            <li><a href="contact">Contact</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <!--JS Inclution-->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="bootstrap-new/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/jquery.scrollUp.min.js"></script>
    <script type="text/javascript" src="js/jquery.sticky.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/jquery.flexisel.min.js"></script>
    <script type="text/javascript" src="js/jquery.imedica.min.js"></script>
    <script type="text/javascript" src="js/custom-imedicajs.min.js"></script>
    <script type='text/javascript'>
        $(window).load(function () {
            $('#loader-overlay').fadeOut(900);
            $("html").css("overflow", "visible");
        });
    </script>
</body>
</html>